---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";

const { research_areas } = profile;
---

<Layout title="Research | Dr. Marie Curie">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Research Statement</h1>

    <div class="mb-12">
      <p class="text-lg mb-6">
        My research focuses on the interdisciplinary areas of physical and chemical oceanography, data management, analysis, and visualization of marine data. These fields are crucial for understanding the marine environment and developing innovative solutions to tackle oceanographic challenges. This approach has enabled me to effectively manage and analyze marine data, transforming raw oceanographic data into actionable insights. Currently, my research involves developing methods and tools for data analysis, quality control, and integration, as well as designing visualization tools to improve the interpretation of marine data.
      </p>
      <p class="text-lg mb-6">
       I am interested in learning how to develop user-friendly toolboxes that enable researchers and stakeholders to effectively explore and 
       analyse oceanographic information. These tools should support various applications, from academic research to policy development and 
       environmental management. My goal is to support long-term monitoring and data sharing within the scientific community, by improving the 
       accessibility and reliability of data, and promoting collaboration and informed decision-making in marine science.
      </p>
    </div>

    <h2 class="text-2xl font-bold mb-6">Research Areas</h2>
    <div class="grid gap-8 mb-12">
      {
        research_areas.map((area) => (
          <div class="flex gap-6 items-start">
            <BetterIcon>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="2"
                class="size-6 stroke-accent"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d={RESEARCH_ICONS[area.field as keyof typeof RESEARCH_ICONS]?.path || RESEARCH_ICONS['computer-science'].path}
                />
              </svg>
            </BetterIcon>
            <div>
              <h3 class="text-xl font-semibold mb-2">{area.title}</h3>
              <p class="text-base">{area.description}</p>
            </div>
          </div>
        ))
      }
    </div>

    <List listTitle="Current Projects" listItems={[
      {
        title: "EOSC, Blue-Cloud 2026 ",
        description: "Blue-Cloud 2026 builds on the Blue-Cloud pilot project, which established a pilot cyber platform that provides researchers with access to multidisciplinary datasets from observations, analytical services and computing facilities that are essential for blue science. Blue-Cloud 2026 aims to further develop this pilot ecosystem into a federated European ecosystem, i.e. a thematic marine extension of EOSC for open web-based science that meets the needs of the EU Blue Economy, Marine Environment and Marine Knowledge agendas. I am engaged as tecnical an scientific contact person for Virtual Lab4, 'Marine Environmental Indicators' and the 'EOV Workbench for Eutrophication: Chlorophyll, Nutrients, Oxygen'. For more information, visit the Blue-Cloud website:",
        link: "https://blue-cloud.org/about-blue-cloud-2026"
      },
      {
        title: "EOSC, FAIR-EASE",
        description: "The EArth Sciences & Environment service (FAIR-EASE) project is a Coordination and Support Action for the Research Infrastructures, funded through the Horizon Europe Work Programme for 2021-2022. Specifically, FAIR-EASE is part of those actions focused on driving the implementation and the operationalisation of the European Open Science Cloud (EOSC): the EU ecosystem of research data and related services. FAIR-EASE contributes to attain the vision of a Web of FAIR data and services for science by advancing EOSC in a more cohesive and structured manner. The project aims at integrating and customising a set of services scaled up at a higher technology readiness level that will allow scientists and machines to collaborate in storing, processing, finding, accessing and reusing scientific data in an open way. I am involved as OGS tecnical and scientific contact person for Ocean Bio-geochemical observation' pilot. For more information, visit the FAIR-EASE website:",
        link: "https://www.fair-ease.eu/"
      },
      {
        title: "PNNR, ITINERIS",
        description: "The Italian Integrated Environmental Research Infrastructures System - ITINERIS is a project funded by  EU – Next Generation EU PNRR (Italian National Recovery and Resilience Plan) that aims to create an ensamble of cross-disciplinary actions across the different environmental sub-domains, with the main aim to build the network of the Italian environmental Research Infrastructures, connect it to the user community and establish access, trough the ITINERIS HUB, to the vast array of knowledge, data, analytical tools, and service produced by the participating RIs. I am involved in the develpment of the VRE8 'Downstream Virtual Research Environment' work package. For more information, visit the ITINERIS website:",
        link: "https://itineris.cnr.it/"
      }

    ]} />

    <!-- <h2 class="text-2xl font-bold mb-6">Research Impact</h2> -->
    <!-- <p class="text-lg mb-6"> -->
      <!-- My research has opened new frontiers in radioactivity studies, leading to practical applications in both scientific research and medical treatments. The discoveries have revolutionized our understanding of atomic structure and radioactive decay processes. -->
    <!-- </p> -->
  </div>
</Layout>
